<template>
  <div
    id="container"
    class="flex flex-wrap relative overflow-hidden mb-4 rounded-[10px] py-4 px-6 border-b border-[#dddddd] text-white">
    <div class="flex w-full mb-2">
      <div class="w-[26px] mr-1 z-[3]">
        <nuxt-img
          src="/png/dashboard/bronze.png"
          format="webp"
          class="w-[26px]"
          style="filter: drop-shadow(rgb(0, 0, 0) 0px 0px 3px);" />
      </div>
      <div class="flex-1 w-full mb-1 z-[3]">
        <p class="mt-[3px] ml-[5px] text-[0.8rem] leading-none">
          GDJ0980624295
        </p>
        <p class="mt-[3px] ml-[5px] text-[10px] leading-none">
          TETS COSE
        </p>
      </div>
    </div>
    <div class="flex-1 xs:max-w-[50%] px-4 xs:pl-0 z-[3]">
      <p>Credit</p>
      <p
        class="text-[1.7rem] text-[#ffff00] font-normal"
        style="text-shadow: rgb(255 188 0) 1px 0px 17px;">
        0.00
      </p>
    </div>
    <div class="flex-1 xs:max-w-[50%] px-4 xs:pr-0 z-[3]">
      <p>Credit</p>
      <p class="text-[1.7rem] font-normal">
        0.00
      </p>
    </div>
    <div class="prop-1"></div>
    <div class="prop-2"></div>
    <div class="prop-3"></div>
    <div class="prop-4"></div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="postcss" scoped>
#container {
  background: linear-gradient(67deg, rgb(211, 47, 47) 0%, rgb(241, 60, 60) 100%) left bottom / 100%;
}
.prop-1 {
  position: absolute;
  z-index: 2;
  right: -10px;
  bottom: -5px;
  width: 260px;
  height: 100%;
  background: url(/png/dashboard/prop-1.png) 100% center / 100% no-repeat;
}
.prop-2 {
  position: absolute;
  z-index: 2;
  right: 110px;
  bottom: -30px;
  width: 160px;
  height: 100%;
  background: url(/png/dashboard/prop-2.png) 100% center / 100% no-repeat;
}
.prop-3 {
  position: absolute;
  z-index: 3;
  right: 0px;
  bottom: -20px;
  width: 30px;
  height: 100%;
  background: url(/png/dashboard/prop-3.png) 100% center / 100% no-repeat;
}
.prop-4 {
  position: absolute;
  z-index: 1;
  right: 0px;
  top: -20px;
  width: 100px;
  height: 100%;
  opacity: 0.5;
  background: url(/png/dashboard/prop-4.png) 100% center / 100% no-repeat;
}
</style>
