<template>
  <div class="mt-4">
    <div
      class="relative title-promo"
      title="Promotion">
    </div>
    <div></div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="postcss" scoped>
.title-promo::before {
  content: "";
  display: block;
  height: 1px;
  background: rgb(221, 221, 221);
  position: absolute;
  top: 0px;
  left: 120px;
  bottom: 0px;
  right: 0px;
  margin: auto;
}
.title-promo::after {
  padding-left: 30px;
  background-image: url(/png/dashboard/money.png);
  background-size: 20px;
  content: attr(title);
  display: inline-block;
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
}
</style>
