<template>
  <div class="box flex flex-col p-6">
    <div class="py-4 px-0 relative">
      <nuxt-img
        class="h-[42px] w-auto m-auto"
        src="/logo.jpeg"
        format="webp" />
      <span
        v-if="currentPage > 1"
        class="mdi mdi-chevron-left text-3xl absolute top-4 left-2 cursor-pointer"
        @click="backPage"></span>
      <p class="text-center text-black text-xl font-normal">
        {{ $t('register') }}
      </p>
      <p class="text-center text-[#d0d0d0]">
        {{ currentPage }} / 4
      </p>
    </div>
    <RegisterTelForm
      v-if="currentPage === 1"
      :tel-prop="form.tel"
      @nextPage="nextPage($event)" />
    <RegisterBankForm
      v-if="currentPage === 2"
      :bank-title-prop="form.bankTitle"
      :bank-account-prop="form.bankAccount"
      :firstname-prop="form.firstname"
      :lastname-prop="form.lastname"
      @nextPage="nextPage($event)" />
    <RegisterInfoForm
      v-if="currentPage === 3"
      :know-us-prop="form.knowUs"
      :password-prop="form.password"
      :line-id-prop="form.lineId"
      :more-prop="form.more"
      :bonus-prop="form.bonus"
      @nextPage="nextPage($event)" />
    <RegisterOTPForm v-if="currentPage === 4" />
    <SelectLanguage />
    <ContactUs class="mb-6" />
  </div>
</template>

<script>
import language from '@/assets/json/language.json'

export default {
  meta: {
    header: 'Hidden'
  },
  data () {
    return {
      form: {
        tel: '',
        bankTitle: '',
        bankAccount: '',
        firstname: '',
        lastname: '',
        knowUs: '',
        password: '',
        lineId: '',
        more: '',
        bonus: 'getBonus'
      },
      currentPage: 1,
      langItem: language
    }
  },
  computed: {
    labelCurrent () {
      if (this.$i18n.locale === 'th') {
        return 'ภาษาไทย'
      }
      return 'English'
    }
  },
  methods: {
    openMenu () {
      this.showMenuLang = !this.showMenuLang
    },
    closeMenu () {
      this.showMenuLang = false
    },
    nextPage (event) {
      if (event.page === 1) {
        this.form.tel = event.tel
      } else if (event.page === 2) {
        this.form.bankTitle = event.bankTitle
        this.form.bankAccount = event.bankAccount
        this.form.firstname = event.firstname
        this.form.lastname = event.lastname
      } else if (event.page === 3) {
        this.form.knowUs = event.knowUs
        this.form.password = event.password
        this.form.lineId = event.lineId
        this.form.more = event.more
        this.form.bonus = event.bonus
      }
      this.currentPage = event.page + 1
    },
    backPage () {
      this.currentPage -= 1
    }
  }
}
</script>

<style lang="postcss" scoped>
.box {
  min-height: auto;
  z-index: 5;
  background: rgb(255, 255, 255);
  margin: auto;
  max-width: 100vw;
  padding-bottom: 62px;
  border-radius: 0px 0px 100px;
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 20px 5px;
}
@media (min-width: 576px) {
  .box {
    margin: 4rem auto;
    max-width: 520px;
  }
}
</style>
