<template>
  <div class="px-0 w-full m-auto max-w-[820px]">
    <div class="box">
      <div class="mb-6">
        <img
          src="/svg/success.svg?data"
          alt=""
          class="h-[80px] w-auto mt-0 mx-auto mb-4">
        <p
          class="text-xl text-center font-normal"
          style="color: rgb(231, 76, 60);"
          v-text="'REGISTER SUCCESS'" />
      </div>
      <div>
        <p
          class="text-center text-sm my-4 whitespace-pre-line"
          v-text="`ขอบคุณสำหรับการสมัคร คุณสามารถใช้\nชื่อเข้าระบบ และ รหัสผ่าน ด้านล่างที่ตั้งไว้เพื่อเข้าสู่ระบบ `" />
        <div class="bg-[#13154b] text-white rounded-lg py-2 px-6 max-w-[380px] mt-6 mx-auto mb-0">
          <p class="my-4 mx-0 font-normal">
            ชื่อเข้าระบบ : GDJ098624295
          </p>
          <p class="my-4 mx-0 font-normal">
            รหัสผ่าน : test123T
          </p>
        </div>
      </div>
      <div class="py-4 px-6 text-center">
        <nuxt-link :to="localePath('/dashboard')">
          <button
            class="text-white h-[50px] rounded-3xl min-w-[180px] px-8 text-center py-3 font-normal"
            style="background: linear-gradient(67deg, rgb(211, 47, 47) 0%, rgb(241, 60, 60) 100%);">
            กลับไปหน้าแรก
          </button>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="postcss" scoped>
.box {
  background: rgb(255, 255, 255);
  width: 100%;
  min-height: 350px;
  margin: 0px auto;
  border: 1px solid rgb(221, 221, 221);
  max-width: 600px;
  padding: 1rem;
}
@media (min-width: 992px) {
  .box {
    margin: 1.5rem auto;
  }
}
</style>
