<template>
  <ValidationObserver
    ref="login-form"
    tag="div">
    <div class="box flex flex-col p-6">
      <div class="py-4 px-0">
        <nuxt-img
          class="h-[42px] w-auto m-auto"
          src="/logo.jpeg"
          format="webp" />
        <p class="text-center text-black text-xl font-normal">
          {{ $t('login') }}
        </p>
      </div>
      <div class="mt-6 flex-1 flex flex-col pt-0 px-4 pb-5 md:px-6 md:pb-6">
        <div>
          <FormTextField
            v-model.trim="username"
            :rules="{
              required: true
            }"
            :name="$t('form.username')"
            :placeholder="$t('form.username')"
            class="mb-6" />
          <FormTextField
            v-model.trim="password"
            :rules="{
              required: true
            }"
            :name="$t('form.password')"
            type="password"
            :placeholder="$t('form.password')"
            class="mb-6" />
          <button
            type="submit"
            class="text-white bg-red-500 h-[50px] px-8 rounded-3xl inline-block w-full"
            @click="login">
            {{ $t('login') }}
          </button>
          <div class="flex justify-end">
            <nuxt-link
              to="/"
              class="text-danger underline">
              {{ $t('forgotPass') }}
            </nuxt-link>
          </div>
          <div class="text-center my-4">
            <span>{{ $t('isAccount') }}</span>
          </div>
          <nuxt-link
            :to="localePath('/register')"
            class="flex justify-center items-center text-red-500 bg-transparent border border-red-500 h-[50px] py-2 px-8 rounded-3xl w-full">
            <p class="font-normal">
              {{ $t('register') }}
            </p>
          </nuxt-link>
          <SelectLanguage />
        </div>
      </div>
    </div>
  </ValidationObserver>
</template>

<script>

export default {
  data () {
    return {
      username: '',
      password: '',
      tel: ''
    }
  },
  methods: {
    async login () {
      await this.$refs['login-form'].validate()
      if (this.$refs['login-form'].flags.valid) {
      this.$router.push(this.localePath('/dashboard'))
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
.box {
  min-height: auto;
  z-index: 5;
  background: rgb(255, 255, 255);
  margin: auto;
  max-width: 100vw;
  padding-bottom: 62px;
  border-radius: 0px 0px 100px;
  box-shadow: rgb(0 0 0 / 10%) 0px 5px 20px 5px;
}
@media (min-width: 576px) {
  .box {
    margin: 4rem auto;
    max-width: 520px;
  }
}
</style>
