<template>
  <ValidationProvider
    v-slot="{ errors, required }"
    :ref="refName"
    :vid="name"
    :name="name"
    :rules="rules"
    tag="div"
    class="text-field">
    <div
      :class="[
        'text-field-wrap w-full flex',
        { 'text-field-error': !!errors && Array.isArray(errors) && !!errors[0] }
      ]">
      <div class="text-field__slot-prepend">
        <slot
          name="prepend"
          v-bind="{ name, errors }">
          <label
            v-if="label"
            :for="name">
            {{ label }}
          </label>
        </slot>
      </div>
      <div class="text-field__slot-default w-full">
        <slot v-bind="{ name, errors }">
          <div class="text-field-input flex">
            <slot
              name="input"
              v-bind="{ name, errors }">
              <textarea
                v-model="innerValue"
                v-bind="$attrs"
                class="w-full h-full"
                rows="5"
                :name="name"
                :required="required" />
            </slot>
          </div>
        </slot>
      </div>
      <div class="text-field__slot-append">
        <slot
          name="append"
          v-bind="{ name, errors }">
        </slot>
      </div>
    </div>
    <div :class="['text-field-messages', { 'text-messages-error': !!errors && Array.isArray(errors) && !!errors[0] }]">
      <span>{{ errors[0] }}</span>
    </div>
  </ValidationProvider>
</template>

<script>
export default {
  name: 'FormextareaField',
  props: {
    rules: {
      type: [String, Object],
      default: null
    },
    value: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      required: true,
      default: null
    },
    label: {
      type: String,
      default: null
    }
  },
  computed: {
    innerValue: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    type () {
      return this.$attrs?.type || 'text'
    },
    refName () {
      return `validation-provider-${this.name}`
    }
  }
}
</script>

<style lang="postcss" scoped>
textarea {
  border-bottom: 1px solid;
  border-radius: 0;
  width: 100%;
  padding: 3px 5px;
  color: #005281;
  transition: border-color 0.25s;
}
.text-field-wrap {
  color: #000;
  transition: color 0.25s;
}
.text-messages-error {
  color: #ed1c24;
}
.text-field-error textarea {
  border-color: rgba(239, 68, 68);
}
.text-field-messages {
  font-size: 12px;
  height: 18px;
}
</style>
