<template>
  <ValidationProvider
    v-slot="{ errors, required }"
    :ref="refName"
    :vid="name"
    :name="name"
    :rules="rules"
    tag="div"
    class="text-field">
    <div
      :class="[
        'text-field-wrap w-full flex',
        { 'text-field-error': !!errors && Array.isArray(errors) && !!errors[0] }
      ]">
      <div class="text-field__slot-default w-full">
        <div
          v-if="label"
          class="text-field__slot-prepend-inner pl-1 mb-2">
          <slot
            name="prepend-inner"
            v-bind="{ name, errors }">
            <label
              v-if="label"
              :for="name"
              class="">
              {{ label }}
              <span
                v-if="labelAppend === 'required'"
                class="text-danger">*</span>
              <span
                v-else
                class="text-[#888383]">{{ labelAppend }}</span>
            </label>
          </slot>
        </div>
        <slot v-bind="{ name, errors }">
          <div class="text-field-input flex relative">
            <div
              v-if="type === 'tel'"
              class="flex justify-center items-center
                text-[20px] absolute top-0 left-0
                py-2 px-4 leading-none h-[44px] w-[42px]
                bg-transparent font-normal">
              <span
                class="mdi mdi-cellphone"
                style="color: rgb(136, 131, 131);"></span>
            </div>
            <slot
              name="input"
              v-bind="{ name, errors }">
              <input
                v-if="type !== 'password' && type !== 'tel'"
                v-model="innerValue"
                v-bind="$attrs"
                :name="name"
                :type="type"
                :required="required"
                :placeholder="placeholder"
                :disabled="disabled"
                :class="[inputClass]">
              <input
                v-else-if="type === 'tel'"
                v-model="innerValue"
                v-bind="$attrs"
                :name="name"
                :type="type"
                :required="required"
                :placeholder="placeholder"
                :disabled="disabled"
                :class="[inputClass]"
                style="padding-left: 42px">
              <input
                v-else-if="showPassword"
                v-model="innerValue"
                v-bind="$attrs"
                :name="name"
                type="text"
                :required="required"
                :placeholder="placeholder"
                :disabled="disabled"
                :class="[inputClass]">
              <input
                v-else
                v-model="innerValue"
                v-bind="$attrs"
                :name="name"
                type="password"
                :required="required"
                :placeholder="placeholder"
                :disabled="disabled"
                :class="[inputClass]">
              <div
                v-if="type === 'password'"
                class="flex justify-center items-center
                text-[20px] absolute top-px right-px
                py-2 px-4 leading-none h-[44px] w-[50px]
                bg-transparent font-normal cursor-pointer"
                @click="showPassword = !showPassword">
                <span
                  v-if="showPassword"
                  class="mdi mdi-eye"
                  style="color: rgb(136, 131, 131);"></span>
                <span
                  v-else
                  class="mdi mdi-eye-off"
                  style="color: rgb(136, 131, 131);"></span>
              </div>
            </slot>
          </div>
        </slot>
      </div>
      <div class="text-field__slot-append">
        <slot
          name="append"
          v-bind="{ name, errors }">
        </slot>
      </div>
    </div>
    <div
      v-if="errors[0]"
      :class="['text-field-messages', { 'text-messages-error': !!errors && Array.isArray(errors) && !!errors[0] }]">
      <span>{{ errors[0] }}</span>
    </div>
  </ValidationProvider>
</template>

<script>
export default {
  name: 'FormTextField',
  props: {
    rules: {
      type: [String, Object],
      default: null
    },
    value: {
      type: [String, Number],
      default: ''
    },
    name: {
      type: String,
      required: true,
      default: null
    },
    label: {
      type: String,
      default: null
    },
    labelAppend: {
      type: String,
      default: null
    },
    placeholder: {
      type: String,
      default: ''
    },
    inputClass: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      showPassword: false
    }
  },
  computed: {
    innerValue: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    type () {
      return this.$attrs?.type || 'text'
    },
    refName () {
      return `validation-provider-${this.name}`
    }
  }
}
</script>

<style lang="postcss" scoped>
input {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 8px;
  width: 100%;
  padding: 0.5rem 1rem;
  height: 44px;
  line-height: 44px;
  background: #fff;
  color: #000;
  transition: border-color 0.25s;
  font-weight: 300;
}
.text-field-wrap {
  color: #000;
  transition: color 0.25s;
}
.text-messages-error {
  color: rgb(231, 76, 60);
}
.text-field-error input {
  border-color: rgba(239, 76, 60);
  box-shadow: rgb(231 76 60 / 25%) 0px 0px 0px 0.2rem;
}
.text-field-messages {
  font-size: 12px;
  font-weight: 400;
  margin: 0.2rem 0px;
  height: 18px;
}
input[disabled] {
  background-color: #ece9e9;
  cursor: not-allowed;
}
</style>
