<template>
  <div
    v-if="innerValue"
    id="alert-modal">
    <div class="alert-modal-card">
      <div class="alert-messages text-center">
        <p
          v-for="(text, index) in innerMessage"
          :key="`alert-messages-${index}`">
          {{ text }}
        </p>
      </div>
      <div class="flex justify-center mt-5">
        <slot
          name="button"
          v-bind="{
            close: close,
            confirm: confirm
          }">
          <button
            class="alert-btn border bg-black text-white px-4 py-1"
            @click="close()">
            {{ $t('ok') }}
          </button>
        </slot>
      </div>
    </div>
    <div
      class="alert-modal-overlay"
      @click="close()" />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      required: true,
      default: false
    },
    message: {
      type: String,
      default: ''
    }
  },
  computed: {
    innerValue: {
      get () {
        return this.value
      },
      set (val) {
        this.$emit('input', val)
      }
    },
    innerMessage () {
      return this.message.split(':;:') || []
    }
  },
  methods: {
    close () {
      this.$emit('close')
      this.innerValue = false
    },
    confirm () {
      this.$emit('confirm')
      this.innerValue = false
    }
  }
}
</script>

<style scoped>
div#alert-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
}
.alert-modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #9a9a9a80;
}
.alert-modal-card {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100000;
  width: 100%;
  max-width: 400px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
}
.alert-btn {
  font-size: 12px;
}
</style>
