<template>
  <div class="bg-[#00bb00] text-white mx-auto h-8 flex items-center px-3 rounded-2xl cursor-pointer">
    <img
      src="/svg/icon-line.svg"
      alt=""
      class="w-[25px] mr-2">
    {{ $t('contactUs') }}
  </div>
</template>

<script>
export default {

}
</script>

<style lang="postcss" scoped>

</style>
