<template>
  <footer
    id="footer"
    class="text-[0.8rem] mt-4">
    <div class="p-1 text-center">
      version 3.1.0.20220408
    </div>
  </footer>
</template>

<script>
export default {
}
</script>

<style lang="postcss" scoped>
#footer {
  color: rgb(136, 131, 131);
  background: rgba(255, 255, 255, 0.8)
}
</style>
