<template>
  <div
    v-if="!headerHidden"
    class="bar">
    <nav class="p-2 z-[2048] max-w-[820px] m-auto flex">
      <nuxt-link :to="localePath('/dashboard')">
        <nuxt-img
          class="h-[36px] w-auto my-auto mx-0"
          src="/logo.jpeg"
          format="webp" />
      </nuxt-link>
      <div class="flex justify-end flex-[5_1_0%] items-center max-w-full pl-2">
        <li class="inline-block last:mr-0 mx-2">
          <div class="h-8 min-w-[unset] rounded-2xl py-[6px] px-4 leading-none text-sm button-header cursor-pointer">
            <span class="mdi mdi-controller-classic text-white text-lg mr-1"></span>
            เข้าเล่นเกม
          </div>
        </li>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  data () {
    return {
      headerHidden: true
    }
  },
  watch: {
    $route () {
      setTimeout(() => {
        this.handleHeader()
      }, 0)
    }
  },
  mounted () {
    this.handleHeader()
  },
  methods: {
    handleHeader () {
      if (this.$route?.meta?.header === 'Hidden') {
        this.headerHidden = true
      } else {
        this.headerHidden = false
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
.bar {
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 13px -3px;
  z-index: 2048;
}
.button-header {
  color: rgb(255, 255, 255);
  background: linear-gradient(67deg, rgb(211, 47, 47) 0%, rgb(241, 60, 60) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
}
</style>
