<template>
  <div class="flex justify-center my-4 mx-auto">
    <div class="relative">
      <div
        class="py-1 px-3 rounded-2xl h-8 font-normal cursor-pointer"
        style="background: rgba(0, 0, 0, 0.1);"
        @click="openMenu"
      >
        <nuxt-img
          :src="iconCurrent"
          class="inline-block h-3" />
        {{ labelCurrent }}
        <div class="inline-block border-t-[10px] border-l-[5px] border-r-[5px] border-l-transparent border-r-transparent"></div>
      </div>
      <div
        v-if="showMenuLang"
        class="absolute top-full right-0 min-w-[160px] mt-[2px] bg-white rounded-2xl"
        style="box-shadow: rgb(0 0 0 / 10%) 0px 5px 20px 5px;">
        <nuxt-link
          v-for="item in langItem"
          :key="item.code"
          class="block py-2 px-[10px] w-full font-normal"
          :to="switchLocalePath(item.path)"
          @click.native="closeMenu">
          <nuxt-img
            :src="item.icon"
            class="inline-block h-3" />
          {{ item.label }}
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import language from '@/assets/json/language.json'

export default {
  data () {
    return {
      showMenuLang: false,
      langItem: language
    }
  },
  computed: {
    labelCurrent () {
      if (this.$i18n.locale === 'th') {
        return 'ภาษาไทย'
      }
      return 'English'
    },
    iconCurrent () {
      if (this.$i18n.locale === 'th') {
        return '/png/th.png'
      }
      return '/png/en.png'
    }
  },
  methods: {
    openMenu () {
      this.showMenuLang = !this.showMenuLang
    },
    closeMenu () {
      this.showMenuLang = false
    }
  }
}
</script>

<style>

</style>
