@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 300;
  line-height: 1.43;
}

.text-gradient {
	background: linear-gradient(148.63deg, #F7951D -12.1%, #00A651 120.88%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  line-height: 1.5;
}

.bg-gradient, .hover\:bg-gradient:hover {
  background: linear-gradient(148.63deg, #F7951D -12.1%, #00A651 120.88%);
}

.border-gradient {
  border-color: transparent;
  background: linear-gradient(#fff 0 0) padding-box, linear-gradient(148.63deg, #8768AE -12.1%, #005281 120.88%) border-box;
}

.border-gradient-active, .hover\:border-gradient-active:hover {
  background: linear-gradient(transparent 0 0) padding-box, linear-gradient(148.63deg, #F7951D -12.1%, #00A651 120.88%) border-box;
  border-color: transparent;
}

.hover\:border-gradient-active:hover * {
  color: #fff;
  background: none;
  -webkit-text-fill-color: unset;
}