<template>
  <div
    id="app"
    class="flex flex-col max-w-[100vw] min-h-[100vh] overflow-x-hidden bg-no-repeat">
    <Header />
    <main
      id="site-content"
      class="flex-1">
      <Nuxt />
    </main>
    <Footer />
  </div>
</template>

<script>
export default {
  head () {
    const i18nHead = this.$nuxtI18nHead({ addSeoAttributes: true })
    return {
      htmlAttrs: {
        ...i18nHead.htmlAttrs
      },
      meta: [
        ...i18nHead.meta
      ],
      link: [
        ...i18nHead.link
      ]
    }
  }
}
</script>

<style>
:focus-visible {
  outline: none;
}
#app {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(144deg, rgb(6, 25, 44) 0%, rgb(6, 25, 44) 60%, rgb(33, 49, 71) 60%, rgb(33, 49, 71) 100%);
  /* background: url('/bg-img.jpeg') 0% 0% / cover no-repeat fixed rgb(255, 255, 255); */
}
.rounded-4xl {
  border-radius: 42px
}
.h-fit-content {
  height: fit-content;
}
/* #site-content {
  width: 100%;
  margin: auto;
  max-width: 580px;
  background: linear-gradient(144deg, rgb(6, 25, 44) 0%, rgb(6, 25, 44) 60%, rgb(33, 49, 71) 60%, rgb(33, 49, 71) 100%);
} */
</style>
