<template>
  <ValidationObserver
    ref="register-form-bank"
    v-slot="{ invalid }"
    tag="div"
    class="px-6 flex-1 flex flex-col">
    <nuxt-img
      src="/kbank-recommended.jpeg"
      format="webp"
      class="w-full mb-6 rounded border border-[#bb1509]" />
    <!-- <select class="w-full bg-white text-black border-[#dadada] border py-2 pr-6 pl-4 appearance-none rounded-lg"></select> -->
    <FormDropDown
      v-model="bankTitle"
      :name="$t('form.bankTitle')"
      :label="$t('form.bankTitle')"
      :placeholder="$t('form.bankPlaceholder')"
      label-append="required"
      :items="banks"
      :item-value="$i18n.locale === 'th' ? 'th' : 'en'"
      :rules="{
        required: true
      }"
      class="mb-6" />
    <FormTextField
      v-model.trim="bankAccount"
      :name="$t('form.bankAccount')"
      :placeholder="$t('form.bankAccount')"
      :label="$t('form.bankAccount')"
      label-append="required"
      :rules="{
        required: true
      }"
      class="mb-6" />
    <FormTextField
      v-model.trim="firstname"
      :name="$t('form.firstname')"
      :placeholder="$t('form.firstname')"
      :label="$t('form.firstname')"
      label-append="required"
      :rules="{
        required: true
      }"
      class="mb-6" />
    <FormTextField
      v-model.trim="lastname"
      :name="$t('form.lastname')"
      :placeholder="$t('form.lastname')"
      :label="$t('form.lastname')"
      label-append="required"
      :rules="{
        required: true
      }"
      class="mb-6" />
    <div
      class="text-white h-[50px] text-center rounded-3xl w-full px-9 flex items-center justify-center font-normal"
      :class="!invalid ? 'bg-[#d32f2f] cursor-pointer' : 'bg-[#c3c3c3] cursor-not-allowed' "
      @click="nextPage">
      {{ $t('verify') }} <span class="mdi mdi-arrow-right-thin text-xl ml-4"></span>
    </div>
  </ValidationObserver>
</template>

<script>
import banks from '@/assets/json/banks.json'

export default {
  props: {
    bankTitleProp: { type: [String, Object], default: '' },
    bankAccountProp: { type: String, default: '' },
    firstnameProp: { type: String, default: '' },
    lastnameProp: { type: String, default: '' }
  },
  data () {
    return {
      banks,
      bankTitle: '',
      bankAccount: '',
      firstname: '',
      lastname: ''
    }
  },
  mounted () {
    this.bankTitle = this.bankTitleProp
    this.bankAccount = this.bankAccountProp
    this.firstname = this.firstnameProp
    this.lastname = this.lastnameProp
  },
  methods: {
    nextPage () {
      if (this.$refs['register-form-bank'].flags.valid) {
        this.$emit('nextPage', {
          bankTitle: this.bankTitle,
          bankAccount: this.bankAccount,
          firstname: this.firstname,
          lastname: this.lastname,
          page: 2
        })
      }
    }
  }
}
</script>

<style lang="postcss" scoped>

</style>
