<template>
  <ValidationObserver
    ref="register-form-info"
    v-slot="{ invalid }"
    tag="div"
    class="px-6 flex-1 flex flex-col">
    <div class="mb-6">
      <FormTextField
        v-model.trim="password"
        type="password"
        :name="$t('form.password')"
        :label="$t('form.password')"
        :rules="{
          required: true
        }"
        label-append="required"
        :placeholder="`${$t('form.password')} ${$t('form.passwordPlaceholder')}`" />
      <p
        class="text-[0.8rem] mx-2 mt-2"
        v-text="$t('form.passwordCondition')">
      </p>
      <p
        class="text-[0.8rem] mx-2 mb-2"
        v-text="$t('form.passwordConditionSymbol')">
      </p>
    </div>
    <FormTextField
      v-model.trim="lineId"
      :name="$t('form.lineId')"
      :label="$t('form.lineId')"
      :placeholder="$t('form.lineId')"
      :label-append="`(${$t('optional')})`"
      class="mb-6" />
    <FormDropDown
      v-model="knowUs"
      :name="$t('form.knowUs')"
      :label="$t('form.knowUs')"
      :placeholder="$t('form.knowUs')"
      label-append="required"
      :items="banks"
      :item-value="$i18n.locale === 'th' ? 'th' : 'en'"
      :rules="{
        required: true
      }"
      class="mb-6" />
    <FormTextField
      v-model.trim="more"
      :name="$t('form.more')"
      :label="$t('form.more')"
      :placeholder="$t('form.more')"
      :label-append="`(${$t('optional')})`"
      class="mb-6" />
    <div class="flex flex-wrap mb-4">
      <div class="flex-[0_0_100%] max-w-full">
        <p
          class="my-4"
          v-text="$t('form.wantBonus')" />
      </div>
      <div class="basis-0 grow max-w-full px-2">
        <FormRadioButton
          v-model="bonus"
          value="getBonus"
          :label="$t('form.getBonus')" />
      </div>
      <div class="basis-0 grow max-w-full px-2">
        <FormRadioButton
          v-model="bonus"
          value="noBonus"
          :label="$t('form.noBonus')" />
      </div>
    </div>
    <div
      class="text-white h-[50px] text-center rounded-3xl w-full px-9 flex items-center justify-center font-normal"
      :class="!invalid ? 'bg-[#d32f2f] cursor-pointer' : 'bg-[#c3c3c3] cursor-not-allowed' "
      @click="nextPage">
      {{ $t('confirmRegister') }}
    </div>
  </ValidationObserver>
</template>

<script>
import banks from '@/assets/json/banks.json'

export default {
  props: {
    knowUsProp: { type: [String, Object], default: '' },
    passwordProp: { type: String, default: '' },
    lineIdProp: { type: String, default: '' },
    moreProp: { type: String, default: '' },
    bonusProp: { type: String, default: 'getBonus' }
  },
  data () {
    return {
      banks,
      knowUs: '',
      password: '',
      lineId: '',
      more: '',
      bonus: 'getBonus'
    }
  },
  mounted () {
    this.knowUs = this.knowUsProp
    this.password = this.passwordProp
    this.lineId = this.lineIdProp
    this.more = this.moreProp
    this.bonus = this.bonusProp
  },
  methods: {
    nextPage () {
      if (this.$refs['register-form-info'].flags.valid) {
        this.$emit('nextPage', {
          knowUs: this.knowUs,
          password: this.password,
          lineId: this.lineId,
          more: this.more,
          bonus: this.bonus,
          page: 3
        })
      }
    }
  }
}
</script>

<style lang="postcss" scoped>

</style>
