<template>
  <ValidationObserver
    ref="register-form-otp"
    v-slot="{ invalid }"
    tag="div"
    class="px-6 flex-1 flex flex-col text-center">
    <label class="text-center">{{ $t('form.otpDesc') }}</label>
    <div class="mt-4">
      <span
        v-if="countdown !== 0"
        class="text-center">{{ $t('form.otpCount') }} {{ minute }} : {{ seconds }} {{ $t('form.otpMinute') }}</span>
      <span
        v-else
        class="text-center">{{ $t('form.otpExpired') }}</span>
    </div>
    <p
      class="text-sm text-danger my-3"
      v-text="$t('form.otpWarn')" />
    <div class="flex mb-6">
      <FormTextField
        v-model.trim="form.otp"
        class="w-full"
        name="OTP"
        placeholder="OTP"
        :rules="{
          required: true
        }" />
      <div
        v-if="countdown === 0"
        class="ml-4 h-11 text-white bg-button rounded-3xl text-center flex items-center justify-center cursor-pointer"
        @click="reOTP">
        {{ $t('form.otpGet') }}
      </div>
    </div>
    <div
      class="text-white h-[50px] text-center rounded-3xl w-full px-9 flex items-center justify-center font-normal"
      :class="!invalid ? 'bg-[#d32f2f] cursor-pointer' : 'bg-[#c3c3c3] cursor-not-allowed' "
      @click="submit">
      {{ $t('verify') }} <span class="mdi mdi-arrow-right-thin text-xl ml-4"></span>
    </div>
  </ValidationObserver>
</template>

<script>

export default {
  data () {
    return {
      form: {
        otp: ''
      },
      countdown: 300
    }
  },
  computed: {
    minute () {
      return Math.trunc(this.countdown / 60)
    },
    seconds () {
      return Math.trunc(this.countdown % 60)
    }
  },
  created () {
    this.countDownTimer()
  },
  methods: {
    countDownTimer () {
      if (this.countdown > 0) {
        setTimeout(() => {
            this.countdown -= 1
            this.countDownTimer()
        }, 1000)
      }
    },
    reOTP () {
      this.countdown = 300
      this.countDownTimer()
    },
    submit () {
      if (this.$refs['register-form-otp'].flags.valid) {
        this.$router.push(this.localePath('/register/success'))
      }
    }
  }
}
</script>

<style lang="postcss" scoped>
.bg-button {
  max-width: 100px;
  min-width: 100px;
  width: 100px;
  background: linear-gradient(67deg, rgb(211, 47, 47) 0%, rgb(241, 60, 60) 100%);
}
</style>
