<template>
  <ValidationObserver
    ref="register-form-tel"
    v-slot="{ invalid }"
    tag="div"
    class="px-6 flex-1 flex flex-col">
    <FormTextField
      v-model.trim="tel"
      type="tel"
      :rules="{
        required: true
      }"
      :label="$t('form.telephone')"
      :name="$t('form.telephone')"
      :placeholder="$t('form.telephone')"
      class="mb-6" />
    <div
      class="text-white h-[50px] text-center rounded-3xl w-full px-9 flex items-center justify-center font-normal"
      :class="!invalid ? 'bg-[#d32f2f] cursor-pointer' : 'bg-[#c3c3c3] cursor-not-allowed' "
      @click="nextPage">
      {{ $t('next') }} <span class="mdi mdi-arrow-right-thin text-xl ml-4"></span>
    </div>
    <div class="text-center my-4">
      {{ $t('or') }}
    </div>
    <div class="text-center">
      {{ $t('accountAlready') }} <nuxt-link
        class="text-[#D61A17] underline"
        :to="localePath('/')">
        {{ $t('login') }}
      </nuxt-link>
    </div>
  </ValidationObserver>
</template>

<script>
export default {
  props: {
    telProp: { type: String, default: '' }
  },
  data () {
    return {
      tel: ''
    }
  },
  mounted () {
    this.tel = this.telProp
  },
  methods: {
    nextPage () {
      if (this.$refs['register-form-tel'].flags.valid) {
        this.$emit('nextPage', { tel: this.tel, page: 1 })
      }
    }
  }
}
</script>

<style lang="postcss" scoped>

</style>
