<template>
  <div class="px-0 w-full m-auto max-w-[820px]">
    <div class="box">
      <DashboardBannerInfo />
      <DashboardPromotion />
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="postcss" scoped>
.box {
  background: rgb(255, 255, 255);
  width: 100%;
  min-height: 350px;
  margin: 0px auto;
  border: 1px solid rgb(221, 221, 221);
  max-width: 820px;
  padding: 1rem;
}
@media (min-width: 992px) {
  .box {
    margin: 1.5rem auto;
  }
}
</style>
